/*.derechos{
    display: flex;
    justify-content: center;*/

/*.list-redes{
    padding: 5px;*/

@media (min-width: widht 769px) { 
    .derechos{
        position: relative;
        left: 0px;
    }
    
        
   
}