body{
    background-color: $coloruno;
    font-family: $fuente2;
nav{
    float: right;
    padding:0.625rem;

}
.nav1{
    padding:0.625rem;
    text-decoration: none;
    color:$colorletra;
    font-family: $fuente2;


}
    h1{
    font-size: 2.25rem;
    font-family: $fuente;
    text-align: center;
    }
    span{
        text-decoration:line-through;
    }
    p{
        text-align: center;
        color:$colorletra;
        font-family: $fuente2;

    }

#boton{
    width: 18rem;
    height: 3rem;
    background-color: $colorbutton;
    margin-left:31.25rem;
}
.spotify{
    width: 18.625rem;
    height: 14.063rem;
}
#episodios{
    background-color: blue;
}
#phone{
    width: 22.5rem;
    height: 32.43rem;
}
.diagonal{
    color: white;
    position: relative;
    padding-top: 12rem;
    padding-bottom: 12rem;
    background-color: blue;
    background:radial-gradient(circle, rgba(42,9,121,1) 100%);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);

}
.-nosotros{
    display: inline-block;
}
footer p{
   margin-left: 34.37rem;
}
.list-redes{
    position: relative;
   left: 34.37rem;
}
}