.boton{
    text-decoration: none;
    font-family: $fuente2;
    font-size: 18px;
    width: 18rem;
    height: 3rem;
    background-color: $colorbutton;
    border: none;
    font-weight: bold;
    text-decoration: none;
    color: $colorletra;
    
}
