#boton{
    text-decoration: none;
    padding: 5px;
    font-family: $fuente2;
    font-size: 18px;
    width: 18rem;
    height: 3rem;
    background-color: $colorbutton;
    margin: auto;
    border: none;
    font-weight: bold;
    
}