.diagonal{
    width: 100%;
    color: white;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 12rem;
    background-color: blue;
    background:radial-gradient(circle, rgba(6,6,237,1) 43%, rgba(9,9,234,1) 94%, rgba(58,50,189,1) 100%, rgba(77,77,167,1) 100%);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    z-index: 0;       
}
