@media(max-width:768px){
    footer{ 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
          
    }
    footer li{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: -15px;
    }
}
@media(min-width: 769px){
    footer{
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
}

