/*.derechos{
    display: flex;
    justify-content: center;*/

/*.list-redes{
    padding: 5px;*/

@media (min-width: widht 769px) { 

    p .derechos{
        position: relative;
        float: left;
    }
    ul .list-redes{
        position: relative;
        float: right;
    }
   
}