@media(max-width:768px){
    footer{ 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
          
    }
    footer ul{
        align-content: center;
        margin-left: -10%;
    }
    footer li{
        padding-left: 0.50rem;
        padding-right: 0.50rem;
    }
}
@media(min-width: 769px){
    footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

