body{
    background-color: $coloruno;
    font-family: $fuente2;
    margin: 0px;
    padding: 0px;
    :root{
        font-size: 16px;
    }

}
    
header{
    overflow: hidden;
}
.subtitulo{
    margin-left: 8%;
}


