.contenedor-titulo {
    margin-left: 10%;
    width: 80%;
}
h1{
    width: 70%;
}
.world{
    text-decoration: line-through;
} 
.punto{
    color:blue;
    font-size:30px;

}
.contenedor-titulo p{
    width: 80%;
}

@media (min-width:769px) { 
      .contenedor-titulo{
        margin: auto;
        margin-left: 12rem;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;        
    }
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
