
.contenedor-titulo h1{
    width: 55%;
}
.contenedor-titulo h1 span{
    text-decoration: line-through;
}
.contenedor-titulo p{
    width: 55%;
}
@media (min-width:769px) { 
      .contenedor-titulo{
        margin: auto;
        margin-left: 12rem;
        padding: 10px;
        display: flex;
        flex-direction: column;
            
    }

}
