
@media(max-width:768px){
    .conteiner5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteiner5 h2{
        width: 80%;
        font-size: 1.25rem;
    }
    .conteiner5 a{
        align-content: center;

    }     
}
@media(min-width:769px){
     .conteiner5{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    }