
.episodios{
    margin-top: 25px;
}
#titulo-e{
    font-family: $fuente2;
    margin-top: -10px;
    font-size: 2.25rem;  
}
#episodios .iframe{
   margin-left: 6%;
   width: 85%;
   height: 16rem;
}
@media (min-width:769px){
    .diagonal{
        width: 100%;
        color: white;
        position: relative;
        padding-top: 5rem;
        padding-bottom: 12rem;
        background-color: blue;
        background:radial-gradient(circle, rgba(42,9,121,1) 95%);
        clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
        z-index: 0;
    }
    section #episodios{
        position: relative;
        z-index: 0;
    }
    div .container-episodios{
        margin-left: 10%;
        margin: auto;
        display: flex;
        justify-content:space-between;
        
    }
    .iframe{
        margin-left: 40px;
        margin-right: 40px;
        max-width: 35%;
        padding: 10px;
    }
    

    
}

