#titulo-e{
    overflow: hidden;
    margin: -5px;
    padding: 10px;
    font-size: 2.25rem;
    font-family: $fuente;
}
#episodios .iframe{
   width: 85%;
   height: 16rem;
}
@media (min-width:769px){
    .diagonal{
        width: 100%;
        color: white;
        position: relative;
        padding-top: 5rem;
        padding-bottom: 12rem;
        background-color: blue;
        background:radial-gradient(circle, rgba(42,9,121,1) 100%);
        clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
        z-index: 0;
    }
    section #episodios{
        position: relative;
        z-index: 0;
    }
    div .container-episodios{
        margin: auto;
        display: flex;
        justify-content:space-between;
        
    }
    .iframe{
        margin-left: 40px;
        margin-right: 40px;
        max-width: 35%;
        padding: 10px;
    }
    

    
}

