@media (max-width:768px){

.hijos-temas{
    padding: 5px;
    font-family: $fuente;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div .hijos-temas p{
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    left: 40%;

}
}

@media (min-width:769px){
    div #temas{
        font-weight: bold;
        display: flex;
        justify-content: space-around;
    }
    div .hijos-temas p{
        font-family: sans-serif;
        font-weight: bold;
    }
}    

