@media (max-width:768px){
    .invitados-img{
        width: 100%;
    }
}
@media (min-width:769px) { 
    div .fotos-invitados {
        width: 100%;
        display: flex;
    }
    .invitados-img{
     width:32%;
     padding: 0px;
     margin: 0px;
     }
    }

     
