@media(max-width:768px){
#telefono{
    margin-top: -100px;
    position: relative;
    z-index: 1;
   width: 100%;
   height: 9.5%;
}
.container2{
    margin-left: 4%;
}
}
@media (min-width:769px) {
    .container{
        margin: 4%;
        width: 95%;
        display: flex;
        justify-content: space-between;

    }
    .conteiner2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteiner2 h2{
        margin-left:-4rem;
        font-size: 2rem;
        font-weight: bolder;
    }
    .conteiner2 p{
        width: 50%;
    }
    #telefono{
        margin-top: -150px;
        position: relative;
        z-index: 1;
        width: 31.8%;
        height: 16.9%;
    }
}
